
Userdefine function

 function is a group of related statements that performs a specific task
 
 Functions help break our program into smaller and modular chunks. 

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In Python a function is defined using the def keyword:

To call a function, use the function name followed by parenthesis:

In [32]:
def my_function(): #function defination
    print("Hello from a function")

In [1]:
def my_function():
    print("Hello from a function")

my_function()#function calling

Hello from a function

In [5]:
def funlearn():
    print('learning function')

In [6]:
funlearn()

learning function

In [8]:
def addition():
    a=34
    b=54
    c=a+b
    print('value of c=' ,c)

In [9]:
addition()

value of c= 88

In [14]:
def addition1():
    x=int(input('enter the value of x'))
    y=int(input('enter the value of y'))
    z=x+y
    print('sum of x and y is =' ,z)

In [15]:
addition1()

enter the value of x12
enter the value of y34
sum of x and y is = 46

In [3]:
def area_circle():
    pi=3.14
    radious=int(input('enter radious'))
    area=pi*(radious**2)
    print('area of circle ',area)
    print('area of circle ',round(area,2))

In [6]:
area_circle()

enter radious67
area of circle  14095.460000000001
area of circle  14095.46

Arguments
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [7]:
def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [12]:
def addition2(a,b):
    c=a+b
    print('the value of c=', c)

In [13]:
a=45
b=65
addition2(a,b)

the value of c= 110

In [18]:
def area_of_circle(pi,radious):
    area=pi*(radious**2)
    print('area of circle ',area)
    print('area of circle ',round(area,2))

In [19]:
pi=float(input('enter pi value'))
radious=int(input('enter radious'))
area_of_circle(pi,radious)

enter pi value3.14
enter radious67
area of circle  14095.460000000001
area of circle  14095.46

In [20]:
def fun_for():
    for i in range(1,11):
        print(i)

In [21]:
fun_for()

1
2
3
4
5
6
7
8
9
10

In [22]:
def addition3():
    a=12
    b=23
    c=a+b
    return c

In [23]:
sum=addition3()#store the return value into variable

In [25]:
sum

35

In [26]:
def substract(sum):
    g=5
    res=sum-5
    print(res)

In [28]:
substract(sum)

30

In [2]:
def myfun(list1): #function defination
    for i in list1:
        print(i)

In [3]:
list1=[12,13,14,15] 
myfun(list1)     #function calling

12
13
14
15

In [8]:
def myfun2(fruitlist):
    for i in fruitlist:
        print(i)

In [9]:
fruitlist=['apple','banana','orange']
myfun2(fruitlist)

apple
banana
orange

In [10]:
planet=['mars','jupiter','sun','moon']
def myfun3(planet):
    for i in planet:
        print(i)

In [11]:
myfun3(planet)

mars
jupiter
sun
moon

In [12]:
def myfun4():
    for i in range(4):
        print(i)

In [13]:
myfun4()

0
1
2
3

In [15]:
def myfun5():
    for i in range(2,20):
        print(i, end="  ")

In [16]:
myfun5()

2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19

In [17]:
def myfun6():
    for i in range(2,20,3):
        print(i, end="  ")

In [18]:
myfun6()

2  5  8  11  14  17

In [19]:
def myfun7():
    for i in range(10):
        if(i==5):
            return  #it return nothing means void here break is also doing same thing but return is capacity to return the value
        print(i, end="  ")

In [20]:
myfun7()

0  1  2  3  4

In [22]:
def myadd():
    a=12
    b=23
    c=a+b
    return c

In [23]:
myadd()

35

In [24]:
retval=myadd()

In [25]:
retval

35

In [26]:
def innerfunction():
    print('i am in inner function')

In [29]:
def outerfunction():
    innerfunction()
    print('outer function')

In [30]:
outerfunction()#one fun call from another function

i am in inner function
outer function

In [33]:
def sqrfun():
    s=7*7
    print ('value of s =' ,s)

In [34]:
sqrfun()

value of s = 49

In [43]:
def sqrfun1():
    s=7*7
    return s
    print ('value of s =' ,s)

In [44]:
sqrfun1() #return the value of s and not going toprint statement

49

In [45]:
def sqrfun2():
    s=7*7
    return

In [46]:
sqrfun2() #not return any value

Global and LocalVariable

A variable is only available from inside the region it is created. This is called scope.

A variable created inside a function belongs to the local scope of that function, and can only be used inside that function.

A variable created in the main body of the Python code is a global variable and belongs to the global scope.
Global variables are available from within any scope, global and local.

In [53]:
p=900 #global variable

In [48]:
p

900

In [51]:
def testvar():
    global p
    print(p)
    p=100 #local variable
    print(p)

In [52]:
testvar()

900
100

In [56]:
def add1(a,b):
    result=a+b
    print(result)

In [57]:
add1(18,25)

43

In [72]:
def add2(a,b,c):
    result=a+b+c
    print(result)

In [74]:
add2(2,4,6)

12

variable no of argument

Arbitrary Arguments, *args


If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

used when dont know the exact no. of value to be passed as a arguments.

pass any no. of arguments is called variable no of argument 

Use lambda functions when an anonymous function is required for a short period of time.

it is predefined function used keyword sum,max,min

In [61]:
def plusfunction(*args):
     return sum(args)

In [64]:
plusfunction(2,3,4,5,6,7,13,36)

27

In [66]:
def maxfunction(*args):
     return max(args)

In [67]:
maxfunction(2,3,4,5,6,7,13,36)

36

In [68]:
def minfunction(*args):
     return min(args)

In [69]:
minfunction(2,3,4,5,6,7,13,36)

2

In [70]:
def minfun(*args):
     return min(args)

In [71]:
minfun(45,89,8909,9)

9

In [89]:
def sumfun(*num):
    s=0
    for n in num:
        s+=n   #s=s+n
    return s

In [90]:
print(sumfun(1,2,3)) #pass any no. of argument

6

In [83]:
print(sumfun(1,2,3,18,28))

52

In [91]:
print(sumfun(11,22,33,8,28))

102

LAMBDA FUNCTION

A lambda function is a small anonymous function means dont requaired any name

A lambda function can take any number of arguments, but can only have one expression.

used to perform small operation with less code


SYNTAX

lambda arguments : expression

In [96]:
test=lambda x:x*5

In [98]:
test(4)

20

In [99]:
test(6)

30

In [100]:
square=lambda x:x**2

In [101]:
square(4)

16

In [102]:
square(45)

2025

In [111]:
squareroot=lambda x:x**(1/2)

In [113]:
squareroot(625)

25.0

In [1]:
cube=lambda x:x**3

In [2]:
cube(12)

1728

In [3]:
cube(8)

512

In [92]:
x = lambda a : a + 10
print(x(5))

15

In [93]:
x = lambda a, b : a * b #Multiply argument a with argument b and return the result:
print(x(5, 6))

30

In [94]:
x = lambda a, b, c : a + b + c#Summarize argument a, b, and c and return the result:
print(x(5, 6, 2))

13

In [5]:
addvar=lambda arg1,arg2:arg1+arg2
print('value of addvar', addvar(23,34))
print('value of addvar', addvar(4,4))

value of addvar 57
value of addvar 8

In [106]:
def myfunc(n):   #Use that function definition to make a function that always doubles the number you send in:
    return lambda a : a * n

mytripler = myfunc(2)

print(mytripler(11))

22

In [107]:
def myfunc(n):   #Use that function definition to make a function that always tripple the number you send in:
    return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [108]:
def myfunc(n):
    return lambda a : a * n # use the same function definition to make both functions, in the same program

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [1]:
def farenhite(T):#convert tempreture in farenhite
    return ((9/5)*T+32)

In [2]:
F=farenhite(35)
F

95.0

In [6]:
def celsius(T):#convert tempreture in celsiust
    return ((5/9)*(T-32))

In [8]:
ce=celsius(102)
ce

38.88888888888889

In [9]:
def testin():
    x=int(input("inter the value of x = "))
    y=int(input("inter the value of y = "))
    t= lambda x,y:x**y
    print(t(x,y))

In [10]:
testin()

inter the value of x = 4
inter the value of y = 4
256

let us use lambda anonymous function by using lambda .we noneed to define the name and function farenhite() or celsious()

In [2]:
F=lambda x:(9/5)*x +32
F(37)

98.60000000000001

In [4]:
T=lambda x:(5/9)*(x-32)
T(102)

38.88888888888889

map in lambda  ____   it applies on list

In [7]:
mylist=(1,2,3,4)
map(lambda x:x**2,mylist)#need to add list atherwise only memory address is display

In [8]:
list(map(lambda x:x**2,mylist))

[1, 4, 9, 16]

In [10]:
c=[33.8,34.7,45.87,34.6,38.8]

In [11]:
f=list(map(lambda x:(9/5)*x +32,c))#mapping the list of value one by one 
print(f)

[92.84, 94.46000000000001, 114.566, 94.28, 101.84]

In [12]:
c=list(map(lambda x:(5/9)*(x-32),f))
print(c)

[33.800000000000004, 34.7, 45.870000000000005, 34.6, 38.800000000000004]

In [13]:
newclist=[round(x,2) for x in c]##hold 2 value after decimal but zero is avoided
newclist

[33.8, 34.7, 45.87, 34.6, 38.8]

In [15]:
newlist=['%.2f' % j for j in c]#hold 2 value after decimal
newlist

['33.80', '34.70', '45.87', '34.60', '38.80']

we are checking if the value is greater then 2 using filter function

In [16]:
mylist=[1,2,3,4,5,6,7,8]

In [17]:
list(filter(lambda x:x>2,mylist))

[3, 4, 5, 6, 7, 8]

In [21]:
even= lambda x: x%2 == 0
list(filter(even,range(11)))

[0, 2, 4, 6, 8, 10]

In [23]:
#it can be done by list comprehension
[x for x in range(11) if x%2==0]

[0, 2, 4, 6, 8, 10]